
.nav {
  display: flex;
  flex-direction: row;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.heading {
  display: flex;
  justify-content: center;
  color: blue;
}

.flashcard_link {
  text-decoration: none;
  font-size: 25px;
}

/* Card styling */
/* Index */
.index_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.card {
  border: 2pt solid black;
  border-radius: 3px;
  justify-content: center;
  width: 10%;
  padding: 2px;
  margin: 5px;
}

