{% extends "base.html" %}
{% block content %}
   
<div class="heading">
    <div align="center">
        <h1>Welcome to your account details {{current_user.username}}!</h1>
    </div>
</div>

<div class="form">
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="form-group">
            {{form.hidden_tag()}}
        </div>
        <div class="form-group">
            {{form.username.label(class='form-group')}} 
            {{form.username(class='form-control')}}
        </div>
        <div class="form-group">
            {{form.email.label(class='form-group')}} 
            {{form.email(class='form-control')}}
        </div>
      
        <div class="form-group">
            {{form.submit(class='btn btn-primary')}}
        </div>
       
       
    </form>
</div>
{% endblock %}