<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/images/Cultivate_Favicon2.png">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Cultivate</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-link">
            <a href="{{url_for('core.instructions')}}">Instructions</a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('core.index')}}">All Flashcards</a>
        </li>

        {% if current_user.is_authenticated %}

        <li class="nav-link">
            <a href="{{url_for('flashcards.create_flashcard')}}">Make A Flashcard</a>
        </li>

        <li class="nav-link">
            <a href="{{url_for('users.logout')}}">Log Out</a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('users.account')}}">Account</a>
        </li>
        {% else %}
        <li class="nav-link">
            <a href="{{url_for('users.login')}}">Log In</a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('users.register')}}">Register</a>
        </li>
        {% endif %}
    </ul>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>