{% extends "base.html" %}
{% block content %}

<div class="heading">
  <h1>Flashcard Form</h1>
</div>

<div class="form"> 
  <form class="form-group" method="POST">
    {{form.hidden_tag()}}

    <div class="form-group">
      {{form.collection.label()}}:     
      {{form.collection()}}
    </div>

    <div class="form-group">
      {{form.front.label()}}:
      {{form.front()}}
    </div>

    <div class="form-group">
      {{form.back.label()}}:
      {{form.back()}}
    </div>

    <div class="">
      {{form.submit()}}
    </div>
  </form>
</div>

{% endblock %}