{% extends "base.html" %}
{% block content %}


<div class="flip-card">
  <div class="flipcard-inner">
    <div class="flashcard_front">
      <p>{{ flashcard.front }}</p>
        </div>
  <div class="flashcard_back">
    <p>{{ flashcard.back }}</p>
        </div>
  </div>
</div>

  {% if flashcard.author == current_user %}
  <div class="flashcard-buttons">
    <a href="{{ url_for('flashcards.update', flashcard_id=flashcard.id) }}">Update</a>
    <br>
    <form action="{{ url_for('flashcards.delete_flashcard', flashcard_id=flashcard.id) }}" method="POST">
      <input type="submit" value="Delete">
    </form>
    <form action="{{ url_for('flashcards.next_flashcard', flashcard_id=flashcard.id) }}" method="GET">
      <input type="submit" value="Next">
    </form>
  {% endif %}
  </div>


{% endblock content %}