{% extends "base.html" %}
{% block content %}
    <div>
        <blockquote class="quote">
            <p>{{ QUOTES[0] }}</p>
        </blockquote>
    </div>

    <div class="heading">
        <h1>All Flashcards</h1>
    </div>
    
    <div class="index_container">
        {% for flashcard in flashcards %}
            <div class="card">
                <a class="flashcard_link" href="{{url_for('flashcards.flashcard', flashcard_id=flashcard.id)}}">
                    {{flashcard.front}}</a>
                    
            </div>
        {% endfor %}
    </div>


{% endblock %}