{% extends "base.html" %}
{% block content %}

<h1>How to Use This Flashcard App</h1><br>
<p id="subheading">Cultivate helps you learn almost any topic by creating flashcards. Just follow these instructions:</p><br>
    <div class="instructions">
        <li>Click "Make A Flashcard" to make all of your flashcards. Be sure to include a Collection name for each card.</li><br>
        <li>Click All Flashcards to view all of your flashcards in one place.</li><br>
        <li>Click an individual flashcard to start studying your flashcards.</li><br>
        <li>Once inside the flashcard, hover over the card to toggle between the front and back of the card.</li><br>
        <li>If you created the card, you will have the ability to update and delete cards.</li><br>
        <li>Click on the respective buttons to go the next or previous card.</li><br>
    </div>
{% endblock %}